


.footer
{
    width: 100%;
    height: 200px;
    background-color: lightgrey;
}

#container
{
    width: 90%;
    border: 3px solid gray;
    border-radius: 30px;
    margin: auto;
    box-shadow: 3px 3px 3px pink;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 30px;
}

h1 
{
    color: rgb(90, 90, 98);
}

.divcenter
{
    width: 600px;
    margin: auto;
}