#footer
{
    width:100%;
    height:100px;
    background-color: lightgray;
    text-align: center;
    padding: 20px;
}
#cartdata
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
}
#tokri
{
    padding: 3px;
    border-radius: 50%;
    background-color: pink;
    color: rgb(100, 57, 57);
    font-size: 12px;
    font-weight: bold;
    margin-left: 5px;
    border: 1px solid rgb(174, 113, 113);
}

#productData
{
    display: flex;
    justify-content: space-between;
}